.leftbarSection {
    flex: 0.20;
    display: flex;
    flex-direction: column;
    color: rgba(59, 60, 81, 1);
    font-family: 'Manrope';
    font-size: 0.85rem;
    font-weight: 600;
}

.leftbarLogo {
    margin-top: 10%;
    padding-left: 10%;
}

.dashboardTabs {
    margin-top: 17%;
    margin-bottom: 17%;
    height: 17%;
    padding-left: 12%;
    padding-block: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboardTabName {
    display: flex;
    align-items: center;
    gap: 5%;
}

.dashboardTabName img {
    width: 15px;
    aspect-ratio: 1/1;
}

.dashboardSettings {
    margin-top: 2%;
    padding-left: 12%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.dashboardSettings img {
    width: 15px;
    aspect-ratio: 1/1;
}