.signupPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.imageSection {
    width: 43%;
    height: 100%;
    display: block;
    position: relative;
}

.imageSection img {
    width: 100%;
    height: 100%;
}

.imageSection-Logo{
    position: absolute;
    top: 4.5%;
    left: 5.5%;
}

.imageSection-Logo-mobileMode{
    display: none;
}

.signupSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirectButtons {
    margin-top: 4%;
    margin-left: 46%;
    width: 22%;
    height: 6%;
    display: flex;
    justify-content: flex-end;

    display: flex;
    justify-content: space-between;
}

.redirectButtons .buttons {
    flex: 0.45;
    height: 100%;
}

.redirectButtons .buttons button {
    height: 100%;
    width: 100%;
    border-radius: 7.5px;
    font-family: 'Manrope';
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.signup button {
    border: none;
    background-color: transparent;
    color: rgba(59, 60, 81, 1);
}

.login button {
    border: 1px solid rgba(27, 72, 218, 1);
    background-color: rgba(27, 72, 218, 1);
    color: white;
}



.heading {
    margin-top: 8.5%;
    width: 60%;
    font-family: 'Manrope';
    font-size: 1.15rem;
    font-weight: 600;
}



.signupForm {
    margin-top: 5%;
    width: 58%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signupInputBoxes {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4%;
}

.signupInputBoxes div {
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 7.5px;
    background-color: rgba(255, 255, 255, 1);

}

.errorFreeDiv{
    border: 1px solid rgba(59, 60, 81, 1);
}

.signupInputBoxes div input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Manrope';
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1;
    text-decoration-skip-ink: none;
    padding-left: 5%;
}

.signupInputBoxes div input::placeholder {
    color: rgba(179, 179, 179, 1);
}

.signupInputBoxes div input:focus {
    outline: none;
}



.signupRegister {
    width: 100%;
    height: 11.75%;
    background-color: rgba(27, 72, 218, 1);
    border-radius: 7.5px;
}

.signupRegister button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 700;
}



.toLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-top: 3.5%;
    font-family: 'Manrope';
    font-size: 0.9rem;
    font-weight: 600;
}

.toLogin .aTag{
    text-decoration: none;
    color: rgba(27, 72, 218, 1);
}


.signupSection{
    user-select: none;
}

.signupInputBoxes div input{
    user-select: none;
    -webkit-touch-callout: none;
}

.signupRegister button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.signupRegister button{
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.passwordMismatchError{
    border: 1px solid rgba(255, 1, 1, 1);
}

.signUp-error{
    color: rgba(255, 1, 1, 1);
    font-family: 'Manrope';
    font-size: 0.75rem;
    font-weight: 600;
}

@media (max-width: 780px) {

    .imageSection{
        display: none;
    }

    .imageSection-Logo-mobileMode{
        display: block;
        width: 20%;
        aspect-ratio: 1/1;
        margin-right: 30% !important;
    }

    .imageSection-Logo-mobileMode img{
        width: 100%;
        height: 100%;
    }    

    .redirectButtons {
        width: 90% !important;
        margin-left: 0% !important;
        padding-inline: 2% 5% !important;
        height: 4.25%;
        margin-top: 10% !important;
    }


    .redirectButtons .buttons {
        flex: 0.47;
    }

    .redirectButtons .buttons button {
        border-radius: 7.5px;
        font-size: 0.85rem;
    }

    .heading {
        margin-top: 50%;
        width: 80%;
    }

    .heading {
        font-size: 1rem;
        font-weight: 600;
    }

    .signupForm {
        margin-top: 10%;
        width: 80%;
        height: 37%;
    }

    .signupInputBoxes{
        gap: 6%;
    }

    .signupInputBoxes div input {
        font-size: 0.85rem;
    }

    .signupRegister {
        height: 12.75%;
    }

    .signupRegister button {
        font-size: 0.9rem;
    }


    .toLogin {
        margin-top: 8%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

}