.navbarComponent {
    height: 11%;
    padding-inline: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.navbarGreetings {
    flex: 1;
    display: flex;
    gap: 2%;
}

.greetingsNameAndTime {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.greetingsName {
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 700;
    color: rgba(24, 24, 32, 1);
}

.greetingsTime {
    font-family: 'Manrope';
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(135, 139, 169, 1);
}

.greetingTimeImage img {
    width: 20px;
    aspect-ratio: 1/1;
}

.navbarRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.createNewButton {
    width: 26%;
    height: 6vh;
}

.createNewButton button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    background-color: rgba(27, 72, 218, 1);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: 'Manrope';
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.25;
    cursor: pointer;
}

.createNewButton button img {
    width: 12.25px;
    aspect-ratio: 1/1;
}

.linkSearchBar {
    width: 50%;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 1.5%;
    border: 1px solid rgba(236, 236, 242, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border-radius: 7.5px;
}

.linkSearchBar img {
    width: 16px;
    aspect-ratio: 1/1;
}

.linkSearchBar input {
    width: 100%;
    height: 100%;
    font-family: 'Manrope';
    font-size: 0.85rem;
    font-weight: 400;
    padding-left: 2%;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 7.5px;
}

.linkSearchBar:focus {
    border: none;
    outline: none;
}

.linkSearchBar input::placeholder {
    color: rgba(135, 139, 169, 1);
}

.greetingsInitial {
    margin-right: 3.5%;
    width: 7%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(253, 228, 138, 1);
    color: rgba(146, 62, 14, 1);
    font-family: 'Manrope';
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
}

.navbarRight {
    position: relative;
    overflow: visible;
}

.navbarLogoutButton {
    position: absolute;
    left: 80%;
    bottom: -90%;
    border: 1px solid rgb(177, 177, 206);
    padding: 1% 4%;
    color: rgb(93, 97, 123);
    cursor: pointer;
}

 .greetingsInitial-mobileView{
    display: none;
 }

 .linkSearchBar-clearSearch{
    margin-right: 2%;
    width: 12px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
 }
 .linkSearchBar-clearSearch img{
    width: 100%;
    height: 100%;
 }

 .navBarLogo-mobileView{
    display: none;
}

.navBarLogo-mobileView img{
    display: none;
}


@media (max-width: 780px) {

    .navbarComponent {
        flex-direction: column;
        height: 18%;
        padding: 5% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
    }

    .greetingsInitial-mobileView {
        margin-right: 0% !important;
        width: 30px !important;
        height: 30px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(253, 228, 138, 1);
        color: rgba(146, 62, 14, 1);
        font-family: 'Manrope';
        font-size: 0.85rem;
        font-weight: 700;
        cursor: pointer;
    }

    .navbarGreetings {
        flex: 1;
        width: 100% !important;
        display: flex;
        gap: 2%;
    }

    .greetingsNameAndTime {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 50%;
    }

    .navbarRight {
        width: 100%;
    }

    .greetingsInitial{
        display: none;
    }

    .createNewButton {
        width: 35%;
        height: 5vh;
    }
    
    .createNewButton button {
        font-size: 0.85rem;
    }
    
    .createNewButton button img {
        width: 12.25px;
        aspect-ratio: 1/1;
    }
    
    .linkSearchBar {
        width: 55%;
        height: 5vh;
        display: flex;
        align-items: center;
        padding-left: 1.5%;
        border: 1px solid rgba(236, 236, 242, 1);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border-radius: 7.5px;
    }

    .navbarLogoutButton {
        display: none;
    }
    .navbarLogoutButton-mobileView {
        position: absolute;
        right: 12%;
        top: 7%;
        border: 1px solid rgb(177, 177, 206);
        padding: 1% 4%;
        color: rgb(93, 97, 123);
        cursor: pointer;
    }

    .navBarLogo-mobileView{
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navBarLogo-mobileView img{
        display: block;
        height: 100%;
    }
}

@media (min-width: 781px) and (max-width: 1024px) {

    .navbarComponent {
        flex-direction: column;
        height: 13%;
        padding: 2% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
    }

    .greetingsInitial-mobileView {
        margin-right: 0% !important;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(253, 228, 138, 1);
        color: rgba(146, 62, 14, 1);
        font-family: 'Manrope';
        font-size: 0.85rem;
        font-weight: 700;
        cursor: pointer;
    }

    .navbarGreetings {
        flex: 1;
        width: 100% !important;
        display: flex;
        gap: 2%;
    }

    .greetingsNameAndTime {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 50%;
    }

    .navbarRight {
        width: 100%;
    }

    .greetingsInitial{
        display: none;
    }

    .createNewButton {
        width: 35%;
        height: 4.5vh;
    }
    
    .createNewButton button {
        font-size: 0.85rem;
    }
    
    .createNewButton button img {
        width: 16px;
        aspect-ratio: 1/1;
    }
    
    .linkSearchBar {
        width: 55%;
        height: 4.5vh;
        display: flex;
        align-items: center;
        padding-left: 1.5%;
        border: 1px solid rgba(236, 236, 242, 1);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border-radius: 7.5px;
    }

    .navbarLogoutButton {
        display: none;
    }
    .navbarLogoutButton-mobileView {
        position: absolute;
        right: 8%;
        top: 5%;
        border: 1px solid rgb(177, 177, 206);
        padding: 1% 4%;
        color: rgb(93, 97, 123);
        cursor: pointer;
    }

    .navBar-right-mobileView-Container{
        display: flex;
        flex: 0.275;
        justify-content: space-between;
        display: flex;
        justify-content: space-between;  
    }

    .navBarLogo-mobileView{
        height: 40px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-img-container{
        height: 40px;
    }

    .navBarLogo-mobileView img{
        display: block;
        height: 40%;
    }

    .greetingTimeImage img {
        width: 30px;
    }
}